@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fontePrincipal:  'Roboto', sans-serif;
    --corDeFundo: #eaeaea;
    --colorInputSecundaria:#0F5AF2;
    --colorInput: #ccc;

}

body{
    font-family: var(--fontePrincipal);
    background-color: var(--corDeFundo);
}

header{
    background-color: var(--colorInputSecundaria);
    width: 100%;
    height: 7vh;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    width: 80px;
    
}

header .icons img{
    width: 40px;
    margin-left: 30px;
}

main{
    width: 70vw;
    height: 100vh;
    margin: auto;
    background-color: var(--corDeFundo);
}

section{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.222);
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 300px;
    margin: auto;
}

form{
    width: 90%;
    height: 300px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    
}

form .f1{
    display: flex;
    margin: 10px;
}

form .f1 label.labelAzul{
    background-color: var(--colorInputSecundaria);
    color: white;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}

form .f1 input{
    border: none;
    background-color: var(--colorInput);
    border-radius: 0px 5px 5px 0px;
    padding: 5px;
    outline: none;
    margin-right: 10px;
}

form .f1 input#login{
    width: 90%;
}

form .f1 input#local{
    width: 90%;
}

form .check{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

form .check2{
    margin-left: 145px;
}

form .check span{
    font-size: 15px;
    padding-left: 5px;
}

/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container {
    align-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    transition: all 0.3s;
    border-radius: 5px;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark {
    background-color: var(--colorInputSecundaria);
    animation: pop 0.5s;
    animation-direction: alternate;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }
   
   @keyframes pop {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.9);
    }
   
    100% {
     transform: scale(1);
    }
   }

   form .botao button{
    border: none;
    background-color: var(--colorInputSecundaria);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

div#cards{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.222);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 90%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    border: 1px solid var(--colorInputSecundaria);
    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.346);
    border-radius: 3px;
    padding: 10px;
    width: 250px;
    height: 250px;
    background-color: white;
}

.card p{
    margin-top: 5px;
}

.card span{
    padding-left: 5px;
    font-size: 15px;
}

.card #btn{
    
    margin-top: 10px;
    background-color: var(--colorInputSecundaria);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.card #btn2{
    color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cardVerde{
    border: 2px solid green;
}